html,
body {
  scroll-behavior: smooth;
  max-height: 100vh;
  min-height: 100vh;
  margin: 0;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
}

.whole {
  max-height: 100vh;
  min-height: 100vh;
  background-color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
}

.header,
.footer {
  background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  height: 63px;
  z-index: 1;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.header img {
  height: 60px;
  width: 60px;
  margin-left: 1%;
}

.header > #h1 {
  margin-left: 1%;
}
.header > #h2 {
  margin-right: 2%;
}

.footer img {
  height: 20px;
  width: 22px;
}

.contact {
  margin-left: 2%;
}

.social {
  margin-right: 2%;
}

a {
  text-decoration: none;
  color: black;
}

.copyright {
  font-size: 10px;
}

.checked,
.fa-star-half-full {
  color: orange;
}

.loaderDiv {
  position: relative;
  display: none;
}
.loaderDiv > iframe {
  width: 100%;
  align-self: center;
}

@media screen and (max-width: 576px) {
  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
  }
  .header,
  .footer {
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 63px;
    z-index: 1;
  }

  .header {
    top: 0;
  }

  .footer {
    bottom: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
  }
  .header,
  .footer {
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 63px;
    z-index: 1;
  }

  .header {
    top: 0;
  }

  .footer {
    bottom: 0;
  }
}
