main {
  display: flex;
  flex-direction: column;
  margin: 4%;
}
.img {
  max-height: 350px;
  width: 400px;
}
form {
  margin-bottom: 1%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.hotel-description {
  margin-bottom: 2%;
  margin-top: 1%;
}
.first-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 400px;
}
.image-div {
  display: flex;
  flex-grow: 3;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.form-div {
  flex-grow: 1;
  padding: 5px;
  border-left: 0px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}
.listSty {
  display: flex;
  padding: 0.5em;
}
.labelSty {
  flex: 1;
}
.inputSty {
  width: 60%;
}
