main {
  height: 100vh;
  text-align: center;
}

.bg-img {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img input {
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #f1f1f1;
  position: relative;
  font-size: 16px;
  width: 300px;
  padding: 10px;
  outline: none;
  top: 200px;
  left: 100px;
}

.city-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.city-card {
  position: relative;
  margin: 50px;
}

.city-img {
  height: 150px;
  width: 150px;
  border-radius: 25%;
  box-shadow: 10px 10px 10px grey;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1 ease;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25%;
}

.city-card:hover .overlay,
.city-card > a:hover .overlay {
  opacity: 1;
}

.text {
  color: #f1f1f1;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
