main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-img {
  height: 200px;
  width: 250px;
}

.hotel-card-info {
  padding-left: 3%;
  margin-top: 2%;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 10px;
  font-weight: bold;
}

#map-view {
  display: none;
}

main > .list-view > #hotel-card {
  margin: 2%;
  background-color: lightgray;
  width: 40%;
  height: 200px;
}

.list-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.list-view > #hotel-card,
.list-view > a > #hotel-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
}

main > .list-view > #hotel-card:hover {
  background-color: rosybrown;
}
