.hotel-img {
  height: 200px;
  width: 250px;
}

.hotel-card {
  margin: 2%;
  background-color: rgb(132, 136, 139);
  width: 80%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 10px;
  font-weight: bold;
}

#map-view {
  display: none;
}

.hotel-img-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
