main {
  height: 100vh;
}

.hotel-img {
  height: 150px;
  width: 200px;
}

.hotel-card {
  margin: 2%;
  background-color: lightgrey;
  width: 80%;
  display: flex;
}

.hotel-card-info {
  margin: 2%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 10px;
  font-weight: bold;
}

#map-view {
  display: none;
}

.hotel-img-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
