.loader {
  margin: 50% auto;
  width: 70px;
  height: 70px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  25% {
    border-top: 12px solid #f3f3f3;
    border-bottom: 12px solid #f3f3f3;
    border-left: 12px solid #f3f3f3;
    border-right: 12px solid #444444;
  }
  50% {
    border-top: 12px solid #f3f3f3;
    border-right: 12px solid #f3f3f3;
    border-left: 12px solid #f3f3f3;
    border-bottom: 12px solid #444444;
  }
  75% {
    border-top: 12px solid #f3f3f3;
    border-bottom: 12px solid #f3f3f3;
    border-right: 12px solid #f3f3f3;
    border-left: 12px solid #444444;
  }
  100% {
    border-top: 12px solid #444444;
    border-bottom: 12px solid #f3f3f3;
    border-left: 12px solid #f3f3f3;
    border-right: 12px solid #f3f3f3;
  }
}
